[Unit]
Description=GPS (Global Positioning System) Daemon Sockets

[Socket]
ListenStream=/run/gpsd.sock
ListenStream=0.0.0.0:2947
SocketMode=0600

[Install]
WantedBy=sockets.target
